@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif;
font-family: 'Oswald', sans-serif;
}

body {
    background-color: #8aac0f;
}


#background{
    
   height: 90vh;
   margin-left: 20em;
   z-index: 1;
    background-repeat: no-repeat;
    
   
    
}
#score {
    z-index: 2;
    margin-top: 0em;
    margin-left: 1em;
    font-size: 5em;
    position: absolute;
    color: rgb(202, 206, 196);
    
}
#keyboard{
    
    position: absolute;
    z-index: 3;
   margin-left: 45em;
   height: 25%;
    bottom: 0px;
}



@media screen and (max-width: 950px) {
   #img {
    width: 100%;
   }
 #score {margin-top: 7em;
font-size: 2em;}

   .black {display: none;}

    #background {
        width: 100%;
    position: absolute;
    z-index: 1;
        height: auto;
       object-fit: cover;
        overflow: hidden; 
        margin-left: 0;
        border: 0px
    }
    #keyboard{
        width: 100%;
        position: absolute;
        z-index: 3;
        height: 10em;
        bottom: 0px;
        margin-left: 0;
    }
}